<div class="item">
  <a [routerLink]="linkroute">
      <div class="txtCentrado">{{name}}</div>
      <img [src]="img" width=100%>
  </a>
  <svg *ngIf="registradoUsuario" (click)="favo()" [ngStyle]="favorito ? {'color': 'red'} : {'color': 'black'}" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-heart-fill corazonColocado" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
  </svg>
</div>
